.text-center{
    text-align: center;
    margin-bottom: 20px;
}
a{
    font-size: 20px;
    text-decoration: none;
    display: block;
}
.recipes{
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    -webkit-box-shadow: -12px 2px 89px -55px rgba(0,0,0,0.75);
-moz-box-shadow: -12px 2px 89px -55px rgba(0,0,0,0.75);
box-shadow: -12px 2px 89px -55px rgba(0,0,0,0.75);
padding: 30px;
border-radius: 10px;
}

a:hover{
    color: green;
    font-size: 20px;
    font-weight: 900;
    background-color: yellow;
}